---
layout: default
---

{% for post in paginator.posts%}
<div class="posts">
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>  
      <span style="color:#6E6E6E;" class="post-date">{{ page.date | date: "%d-%m-%Y" }}</span>
  {% if page.tags %} | 
  {% for tag in page.tags %}
  <span style="color:#FFFFFF;background-color:#6E6E6E;padding:.1em 1em;">{{ tag }}</span>
  {% endfor %}
  {% endif %}     
      <div class="entry">
        {{ post.content | split:'<!--break-->' | first }}
   {% if post.content contains '<!--break-->' %}
      <a href="{{ post.url }}">LIRE LA SUITE</a>
   {% endif %}
      </div>
   <hr width="100%" size="0.5px" color="#E6E6E6" align=center/> <!-- Barre verticale page index -->    
  </article>
</div>
{% endfor %}

  
  {% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
