---
layout: default
---
<div class="posts">
{% for post in paginator.posts%}
   <div class="posts"> 
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>  
      <span style="color:#6E6E6E;" class="post-date">{{ page.date | date: "%d-%m-%Y" }}</span>  
  {% if page.tags %} | 
  {% for tag in page.tags %}
  <span style="color:#FFFFFF;background-color:#6E6E6E;padding:.1em 1em;">{{ tag }}</span>
  {% endfor %}
  {% endif %}     
       
       
      <div class="entry">
        {{ post.content | split:'<!--break-->' | first }}
   {% if post.content contains '<!--break-->' %}
      <a href="{{ post.url }}">LIRE LA SUITE</a>
   {% endif %}
      </div>
   <hr width="100%" size="0.5px" color="#E6E6E6" align=center/> <!-- Barre verticale page index -->    
</div>
       {% endfor %}
</div>

<div class="pagination clearfix mb1 mt4">
  <div class="left">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item" href="{{ site.baseurl }}/">{{ site.text.pagination.newer }}</a>
      {% else %}
        <a class="pagination-item" href="{{ paginator.previous_page_path }}">{{ site.text.pagination.newer }}</a>
      {% endif %}
    {% else %}
      <span class="pagination-item disabled">{{ site.text.pagination.newer }}</span>
    {% endif %}
  </div>
  <div class="right">
    {% if paginator.next_page %}
      <a class="pagination-item" href="{{ paginator.next_page_path }}">{{ site.text.pagination.older }}</a>
    {% else %}
      <span class="pagination-item disabled">{{ site.text.pagination.older }}</span>
    {% endif %}
  </div>
  <div class="pagination-meta">Page {{ paginator.page }} of {{ paginator.total_pages }}</div>
</div>
